a,hr{padding:0}a,button,input,select,textarea{margin:0}article,aside,details,figure,footer,header,hr,main,nav,section,summary{display:block}abbr,address,article,aside,audio,b,blockquote,body,body div,caption,cite,code,dd,del,details,dfn,dl,dt,em,fieldset,figure,footer,form,h1,h2,h3,h4,h5,h6,header,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font-weight:400;vertical-align:baseline;background:0 0}input[type=checkbox],th{vertical-align:bottom}html{box-sizing:border-box;overflow-y:scroll}*,:after,:before{box-sizing:inherit}embed,img,object{max-width:100%}ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{font-size:100%;vertical-align:baseline;background:0 0}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help}th{font-weight:700}td{font-weight:400;vertical-align:top}hr{height:1px;border:0;border-top:1px solid #ccc;margin:1em 0}input,select{vertical-align:middle}pre{white-space:pre;white-space:pre-wrap;white-space:pre-line;word-wrap:break-word}input[type=radio]{vertical-align:text-bottom}.ie7 input[type=checkbox]{vertical-align:baseline}.ie6 input{vertical-align:text-bottom}input,select,textarea{font:99% sans-serif}table{border-collapse:separate;border-spacing:0;font:100%}small{font-size:85%}strong{font-weight:700}td,td img{vertical-align:top}sub,sup{font-size:75%;line-height:0;position:relative}sup{top:-.5em}sub{bottom:-.25em}code,kbd,pre,samp{font-family:monospace,sans-serif}.clickable,button,input[type=button],input[type=file],input[type=submit],label{cursor:pointer}button,input[type=button]{width:auto;overflow:visible}.ie7 img{-ms-interpolation-mode:bicubic}.clearfix:after{content:" ";display:block;clear:both}
/* Estilos  */
/* @import url('https://fonts.googleapis.com/css?family=Hammersmith+One|Open+Sans:300,600'); */

/* 
naranja: e7600e;
F49E03 FE8603 FE3D03 F41703

marron: 775120;
846C1D 8E691F 8E4D1F 84391D

verde: 186628;
15735D 177D49 217D17 3F7315
*/

@font-face {
  font-family: 'MontserratBold';
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf')  format('truetype'), url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans-Light.woff') format('woff'), url('../fonts/OpenSans-Light.ttf')  format('truetype'), url('../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansSemibold';
  src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans-Semibold.woff') format('woff'), url('../fonts/OpenSans-Semibold.ttf')  format('truetype'), url('../fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

*{font-family: 'OpenSansLight', sans-serif;font-weight:300;font-size:16px;color:#666;box-sizing:border-box;}
span,b,a,strong{font-family: inherit;color:inherit;}
a,a:hover,a:active,a:focus{text-decoration: none;color:inherit;}
b,strong{font-family: 'OpenSansSemibold';}
h1,h2,h3,h4,h5,h6{font-family: 'MontserratBold', sans-serif;color:#FE8603;margin-top:0;margin-bottom:15px;line-height:1em;}
h1{font-size:2.8em;}
h2{font-size:2.6em;}
h3{font-size:2.2em;}
h4{font-size:1.8em;}
h5{font-size:1.4em;}
h6{font-size:1em;}
p{line-height:1.8em;text-align: justify;}
/* font-family: 'Hammersmith One', sans-serif;
font-family: 'Open Sans', sans-serif; */
.container{max-width:1200px;padding:0 15px;margin:0 auto;}
.img-responsive{width:100%;height:auto;display: block;}

  .flex_cont_{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;
  }
  .flex_cont_.doble .left_{
      order: 0;
      flex: 1 1 auto;
      align-self: auto;
      width:50%;
  }
  .flex_cont_.doble .right_{
      order: 0;
      flex: 1 1 auto;
      align-self: auto;
      width:50%;
  }

.btn_menu{display:none;width:60px;height:45px;border:solid 3px #FE8603;position:fixed;top:20px;right:30px;z-index: 51;padding:10px;transition: all 250ms ease-out;background: #FFF;}
.btn_menu span{display:block;height:3px;width:100%;background:#FE8603; transition: all 250ms ease-out}
.btn_menu span+span{margin-top:5px;}

.btn_menu.active {border-color:#FE8603}
.btn_menu.active span:first-child {transform: rotate(45deg) translateX(6px) translateY(5px);background:#FE8603}
.btn_menu.active span:nth-child(2) {opacity: 0;background:#FE8603}
.btn_menu.active span:last-child {transform: rotate(-45deg) translateX(6px) translateY(-5px);background:#FE8603}
header{position:absolute;z-index:50;width:100%;top:0;left: 0;padding: 60px;}
header ul{
/* background: -moz-linear-gradient(top,  rgba(0,0,0,0.85) 0%, rgba(0,0,0,0) 100%);
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%);
background: linear-gradient(to bottom,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9000000', endColorstr='#00000000',GradientType=0 );
 */

/* background: rgb(68,29,4);
background: -moz-linear-gradient(45deg,  rgba(68,29,4,1) 0%, rgba(76,56,20,1) 100%);
background: -webkit-linear-gradient(45deg,  rgba(68,29,4,1) 0%,rgba(76,56,20,1) 100%);
background: linear-gradient(45deg,  rgba(68,29,4,1) 0%,rgba(76,56,20,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#441d04', endColorstr='#4c3814',GradientType=1 ); */
}
header li.
.menu_stick ul li {line-height: 1em;}
header li a,
.menu_stick li a{display: block;padding:15px;color:#FFF;text-align:center;font-family: 'MontserratBold', sans-serif;font-size: 18px;}
header li a:hover{color: #FFF;}
header li#logo ,
.menu_stick #logo_stick{/* background:#FFF;padding:15px; */}
header li#logo a,
.menu_stick #logo_stick a{display:inline-block;padding:15px;background:#FFF;}
header li#logo a:hover,
.menu_stick #logo_stick a:hover{opacity:1;}
header li#logo img,
.menu_stick #logo_stick img{width:auto;height:100%;max-height:51px}

.menu_stick{position:fixed;top:0;left:0;width:100%;z-index: 90;background: #441d04;transform: translateY(-100px);transition: all 250ms ease-in-out;}
.menu_stick.stick{transform: translateY(0);}
.menu_stick ul{display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;align-content: stretch;align-items: stretch; }
.menu_stick ul li{order: 0;flex: 1 1 auto;align-self: center; }
.menu_stick #logo_stick{}

section#slider{padding:30px;position:relative;height: 100vh}
.slider{height:100%;position:relative;background:url(../img/building_2.jpg) no-repeat;background-size: cover;background-position: center;width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;}
.slider .text_{z-index: 2;max-width:50vw;text-align:center;
    order: 0;
    flex: 0 1 auto;
    align-self: center;}
.slider .text_ img{width:100%;height:auto;display: block;margin-bottom:20px;}
.slider .text_ h1{color:#FFF;font-size: 3em;display: inline-block;clear: both;}
.slider .text_ h2{color:#FFF;font-size:2em;display: inline-block;clear: both;font-family:'OpenSansLight'}
.slider .img_{background:url(../img/building_2.jpg) no-repeat;background-size: cover;background-position: center;height:100%;width: 100%;}
.slider:before{height:100%;width: 100%;position:absolute;z-index: 1;content:"";display: block;
background: -moz-linear-gradient(-45deg,  rgba(0,0,0,0) 0%, rgba(231,96,14,0.65) 100%);
background: -webkit-linear-gradient(-45deg,  rgba(0,0,0,0) 0%,rgba(231,96,14,0.65) 100%);
background: linear-gradient(135deg,  rgba(0,0,0,0) 0%,rgba(231,96,14,0.65) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6e7600e',GradientType=1 );
}
.scroll_down {position: absolute;background: #FE8603;color: #FFF;bottom: 30px;left: 50%;z-index: 2;padding: 10px 15px;text-transform: uppercase;font-family: 'OpenSansSemibold';letter-spacing:2px;margin-left:-80px;}

section#proyectos{padding:150px 0;}
section#proyectos .flex_cont_ .left_{padding-right:50px;}
section#proyectos .flex_cont_ .right_{padding-left:50px;}

.cont_slider_project{position:relative;width:100%;height: 100%;}
.cont_slider_project .back_{position: absolute;width: 100%;height: 300px;background: url(../img/concrete_text.jpg);background-size: cover;background-position:center;background-repeat: no-repeat;top: 50%;left: 0;margin-top: -150px;}
.cont_slider_project .controls{position: absolute;display: table;bottom: -33px;right: -40px;z-index: 1;}
.cont_slider_project .controls a{display: block;background:#FFF;border:solid 3px #8E691F;padding:15px;float: left;}
.cont_slider_project .controls a+a{margin-left:15px;}
.cont_slider_project .controls a svg{display: block;width:30px;}
.carousel_project {max-width:520px!important;z-index: 1;position: relative;margin:0 auto;}
.carousel_project img{/* max-width:375px!important;height:auto!important; */}
.carousel_project img{max-width:100%!important;height:auto!important;width:100%;}

section#quienes_somos .slider{display: table;clear:both;width:100%;margin-bottom:90px;height:auto;background:transparent;}
section#quienes_somos .slider img{width:100%;height:auto;display:block;}
section#quienes_somos .info_ {margin-top:60px;margin-left: -15px;margin-right: -15px;}
section#quienes_somos .info_ img{margin-bottom:20px;}
section#quienes_somos .info_ p{font-size: 1.3em;text-align: center;max-width: 420px;margin: 0 auto;}
section#quienes_somos .info_ .left_,
section#quienes_somos .info_ .right_{text-align:center;padding:15px;}
section#quienes_somos .intro_ h2:first-child{margin-top:0;}
section#quienes_somos .intro_ h2{margin-top:60px;}


section#vivienda{padding:150px 0;}
section#vivienda h2{margin-bottom:30px;}
section#vivienda .right_ h2,
section#vivienda .right_ li p{text-align:left;}
section#vivienda .left_ h2,
section#vivienda .left_ li p{text-align:right;}
.img_house{text-align:right;background:url(../img/house.jpg);background-position: center;background-size: cover;width:100%;height: 100%;}
.img_house_2{text-align:right;background:url(../img/house2.jpg);background-position: center;background-size: cover;width:100%;height: 100%;}
section#vivienda .list_{padding: 160px 50px;}
section#vivienda li{position: relative;}
section#vivienda li+li{margin-top:20px;}
section#vivienda li p{font-size: 1.5em;line-height: 1em;}
section#vivienda li span{position: absolute;width: 30px;height: 30px;color: #FFF;background: #8E691F;text-align: center;line-height: 30px;font-size: 0.8em;top: 50%;margin-top: -15px;}

section#vivienda .right_ span{left: 0;}
section#vivienda .left_ span{right: 0;}

section#vivienda .left_ li{padding-right:50px;}
section#vivienda .right_ li{padding-left:50px;}



section#galeria{padding:30px;}
section#galeria>h2{text-align:center;margin-bottom:60px;}
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}
.gallery li{
    order: 0;
    flex:1  1 auto;
    align-self: stretch;
}
.gallery li *{transition: all 250ms ease-out}
.gallery li figure{position:relative;}
.gallery li figure img{width:100%;height: auto;display: block;}
.gallery li figure figcaption{position:absolute;z-index: 1;bottom:0;left:0;width:100%;padding:15px;opacity:0;
  background: -moz-linear-gradient(-45deg,  rgba(0,0,0,0) 0%, rgba(231,96,14,0.65) 100%);
background: -webkit-linear-gradient(-45deg,  rgba(0,0,0,0) 0%,rgba(231,96,14,0.65) 100%);
background: linear-gradient(135deg,  rgba(0,0,0,0) 0%,rgba(231,96,14,0.65) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6e7600e',GradientType=1 );height:100%}
.gallery li figure figcaption p{margin:0;font-size:1.5em;color: #FFF;line-height:1.5em;position:absolute;z-index: 2;bottom:0;right:0;padding: 50px;text-align: right;transform: translateX(-20px);opacity:0;transition-delay:250ms;}
.gallery li figure figcaption p a{font-size: inherit;color: inherit;line-height: inherit;font-family: 'OpenSansLight';display: block;}
.gallery li figure figcaption p a b{display: block;font-size: 2em;line-height: 1.5em;line-height: 45px;margin-bottom: 10px;}

.gallery li:hover figcaption{opacity:1;}
.gallery li:hover figcaption p{transform: translateX(0);opacity:1;}


section#contacto {padding:0;}
section#contacto .map_ {position:relative;}
section#contacto .map_ iframe{position: absolute;width:100%;height: 100%;top:0;left:0;}
section#contacto .form_ {position:relative;background: rgb(44,62,80);
background: rgb(68,29,4);
background: -moz-linear-gradient(45deg,  rgba(68,29,4,1) 0%, rgba(76,56,20,1) 100%);
background: -webkit-linear-gradient(45deg,  rgba(68,29,4,1) 0%,rgba(76,56,20,1) 100%);
background: linear-gradient(45deg,  rgba(68,29,4,1) 0%,rgba(76,56,20,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#441d04', endColorstr='#4c3814',GradientType=1 );}
section#contacto form {padding:30px;}
section#contacto .form_group+.form_group {margin-top:15px;}
section#contacto form h2 {color: #FFF;}
section#contacto form label {color: #FFF;display: block;cursor:pointer;margin-bottom:5px;}
section#contacto form input {width:100%;border:0;height:40px;color:#666;padding:5px 15px; line-height:1em;}
section#contacto form textarea {width:100%;border:0;color:#666;padding:5px 15px; line-height:1em;resize:none;}


footer .flex_cont_ .flex_item:first-child{align-self: flex-start;text-align:center;}
footer{ background: url(../img/footer_back.jpg);padding:30px 0 150px;border-bottom:solid 30px #FE8603;background-size: cover;background-position: center;}
footer a:hover{color:#fff;opacity:0.8;}
footer li+li{margin-top: 5px;}
footer a,
footer p{color:#FFF;}
.flex_cont_.triple .flex_item{order: 0;align-self: auto;}
.flex_cont_.triple .flex_item:nth-child(1) {width:30%;text-align:left;}
.flex_cont_.triple .flex_item:nth-child(2) {width:20%;}
.flex_cont_.triple .flex_item:nth-child(3) {width:40%;}
.flex_cont_.triple .flex_item:first-child a img{max-width:150px;}

footer .site_map {}
footer .site_map a{color:#FE8603;}
footer address p{font-style: normal;}

