a,hr{padding:0}a,button,input,select,textarea{margin:0}article,aside,details,figure,footer,header,hr,main,nav,section,summary{display:block}abbr,address,article,aside,audio,b,blockquote,body,body div,caption,cite,code,dd,del,details,dfn,dl,dt,em,fieldset,figure,footer,form,h1,h2,h3,h4,h5,h6,header,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font-weight:400;vertical-align:baseline;background:0 0}input[type=checkbox],th{vertical-align:bottom}html{box-sizing:border-box;overflow-y:scroll}*,:after,:before{box-sizing:inherit}embed,img,object{max-width:100%}ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{font-size:100%;vertical-align:baseline;background:0 0}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help}th{font-weight:700}td{font-weight:400;vertical-align:top}hr{height:1px;border:0;border-top:1px solid #ccc;margin:1em 0}input,select{vertical-align:middle}pre{white-space:pre;white-space:pre-wrap;white-space:pre-line;word-wrap:break-word}input[type=radio]{vertical-align:text-bottom}.ie7 input[type=checkbox]{vertical-align:baseline}.ie6 input{vertical-align:text-bottom}input,select,textarea{font:99% sans-serif}table{border-collapse:separate;border-spacing:0;font:100%}small{font-size:85%}strong{font-weight:700}td,td img{vertical-align:top}sub,sup{font-size:75%;line-height:0;position:relative}sup{top:-.5em}sub{bottom:-.25em}code,kbd,pre,samp{font-family:monospace,sans-serif}.clickable,button,input[type=button],input[type=file],input[type=submit],label{cursor:pointer}button,input[type=button]{width:auto;overflow:visible}.ie7 img{-ms-interpolation-mode:bicubic}.clearfix:after{content:" ";display:block;clear:both}
/* Estilos  */
/* @import url('https://fonts.googleapis.com/css?family=Hammersmith+One|Open+Sans:300,600'); */



@font-face {
  font-family: 'MontserratBold';
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf')  format('truetype'), url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans-Light.woff') format('woff'), url('../fonts/OpenSans-Light.ttf')  format('truetype'), url('../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansSemibold';
  src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans-Semibold.woff') format('woff'), url('../fonts/OpenSans-Semibold.ttf')  format('truetype'), url('../fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

*{font-family: 'OpenSansLight', sans-serif;font-weight:300;font-size:16px;color:#666;box-sizing:border-box;}
span,b,a,strong{font-family: inherit;color:inherit;}
a,a:hover,a:active,a:focus{text-decoration: none;color:inherit;}
b,strong{font-family: 'OpenSansSemibold';}
h1,h2,h3,h4,h5,h6{font-family: 'MontserratBold', sans-serif;}
/* font-family: 'Hammersmith One', sans-serif;
font-family: 'Open Sans', sans-serif; */
.container{max-width:1200px;padding:0 15px;margin:0 auto;}
.img-responsive{width:100%;height:auto;display: block;}


header ul{background: rgb(44,62,80);background: -moz-linear-gradient(45deg,  rgba(44,62,80,1) 0%, rgba(52,152,219,1) 100%);background: -webkit-linear-gradient(45deg,  rgba(44,62,80,1) 0%,rgba(52,152,219,1) 100%);background: linear-gradient(45deg,  rgba(44,62,80,1) 0%,rgba(52,152,219,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c3e50', endColorstr='#3498db',GradientType=1 );}
header li {line-height: 1em;}
header li a{display: block;padding:15px;color:#FFF;text-align:center;}
header li a:hover{color: #FFF;}
header li#logo{background:#FFF;padding:15px;}
header li#logo a{display:inline-block;padding:0;}
header li#logo img{width:auto;height:100%;max-height:68px}

.slider{height:calc(100vh - 100px);position:relative;}
.slider .text_{position: absolute;right:30px;bottom:30px;z-index: 2;max-width:50vw;text-align:right;}
.slider .text_ h1{color:#FFF;font-size: 3em;display: inline-block;clear: both;}
.slider .text_ h2{color:#FFF;font-size:2em;display: inline-block;clear: both;font-weight:400; }
.slider .img_{background:url(../img/building_2.jpg) no-repeat;background-size: cover;background-position: center;height:100%;width: 100%;}
.slider .img_:before{height:100%;width: 100%;position:absolute;z-index: 1;content:"";display: block;background: -moz-linear-gradient(-45deg,  rgba(125,185,232,0) 0%, rgba(52,152,219,1) 100%);background: -webkit-linear-gradient(-45deg,  rgba(125,185,232,0) 0%,rgba(52,152,219,1) 100%);background: linear-gradient(135deg,  rgba(125,185,232,0) 0%,rgba(52,152,219,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#3498db',GradientType=1 );}
.scroll_down {position: absolute;background: #2C3E50;color: #FFF;bottom: 30px;left: 30px;z-index: 2;padding: 10px 15px;text-transform: uppercase;font-family: 'OpenSansSemibold';letter-spacing:2px;}

section#quienes_somos{padding:150px 0;}

.cont_slider_project{position:relative;}
.cont_slider_project .back_{position:absolute;}
.carousel_project {margin-left:auto;max-width:375px!important;}
.carousel_project img{max-width:375px!important;height:auto!important;}