@media (max-width:1336px){
 	#home section#slider .owl_slide,
 	#home section#slider{height:auto;}
}
@media (max-width:1024px){
	section#vivienda .flex_cont_,
	section#proyectos .flex_cont_{flex-direction: column;}
	section#vivienda .flex_cont_ div[class*='img_house'],
	section#proyectos .flex_cont_ div[class*='img_house']{height:300px;}
	section#proyectos .flex_cont_ .left_,
	section#proyectos .flex_cont_ .right_{padding:0;}
	section#proyectos .flex_cont_ .right_{margin-top:100px;}
	section#vivienda .flex_cont_:first-child .right_ {order:1;}
	section#vivienda .flex_cont_:first-child .left_ {order:2;}
	section#vivienda .list_{padding:50px;}
	.flex_cont_.doble .right_,
	.flex_cont_.doble .left_{width:100%}


	.slider .text_ h1{font-size: 2em;}
	.slider .text_ h2{font-size: 1.5em;}
	#home .slider .text_{    margin-top: 10%;width: 100%;align-self: flex-start;}
	header ul li:nth-child(2){display: none;}
}
@media (max-width:1024px){
	.gallery li{width:50%;}
	.flex_cont_.triple .flex_item:first-child img{padding:15px;}


}
@media (min-width:768px){
	header ul{
	    display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: flex-start;
	    align-content: stretch;
	    align-items: stretch;
	}
	header ul li{
	    order: 0;
	    flex: 1 1 auto;
	    align-self: center;
	}
	header ul li#logo{
	    text-align:left;width:30%
	}

	header li a:hover{/* opacity:0.6; */}
	.menu_stick{display: block;}
}
@media (max-width:767px){

	h1{font-size:2em}
	h2{font-size:1.8em}
	h3{font-size:1.4em}
	header{position:fixed!important;width:100%;height:100%;background:rgba(0, 0, 0, 0.8);;transform: translateY(-100%);transition: all 250ms ease-out}
	header.active{transform: translateY(0%);}
	header ul{background:transparent;}
	header ul li#logo a{display: block;text-align:center;margin-bottom:20px;}
	header ul li:nth-child(2){display: none;}
	header li a{font-size:1.5em;line-height:1em;text-align: left;}
	header li#logo img{max-height:60px;}

	header li .sub_menu{position: relative;display: block;}
	header li .sub_menu ul{padding-left:50px;display: block;}

	.menu_stick{display: none!important;}
	.btn_menu{display: block;}
	.flex_cont_.triple .flex_item {padding:0!important;width: 100%!important;}
	.flex_cont_.triple .flex_item+.flex_item {margin-top:20px;}
	footer{padding:40px 15px;}
	footer .flex_cont_.triple{flex-direction: column!important}
	footer .site_map li,
	footer address p{background: transparent!important;}
	footer .flex_cont_.triple .flex_item{text-align: center!important;}
	.social li a img{width: auto}

	section#vivienda .cont_services .flex_cont_.doble >div{text-align:center;padding: 0;order: 1;}
	section#vivienda .cont_services .list_{margin-top:20px;}
	#servicios .cont_services .flex_cont_.doble+.flex_cont_.doble{margin-top:80px;}
	#servicios .cont_services .flex_cont_.doble img{margin: 0 auto 30px;max-width: 400px;display: block;}
	#servicios .cont_services .flex_cont_.doble:nth-child(1) .right_,
	#servicios .cont_services .flex_cont_.doble:nth-child(3) .right_,
	#servicios .cont_services .flex_cont_.doble:nth-child(5) .right_{order: 0!important;}

	#quienes_somos .flex_cont_.doble {flex-direction: column;}
	section#quienes_somos .flex_cont_+.flex_cont_{margin-top: 80px;}
	section#quienes_somos .flex_cont_.doble .left_ *,
	section#quienes_somos .flex_cont_.doble .right_ *{text-align:center;}
	section#quienes_somos .flex_cont_.doble .right_,
	section#quienes_somos .flex_cont_.doble .left_{padding:0;}
	section#quienes_somos .flex_cont_.doble img{margin: 0 auto 30px!important;max-width: 400px;display: block;}
	section#quienes_somos .flex_cont_.doble > div{order:1;padding:0;text-align:center;}
	section#quienes_somos .flex_cont_#cont_txt_quienes_somos .right_,
	section#quienes_somos .flex_cont_#cont_txt_hacemos .right_,
	section#quienes_somos .flex_cont_#cont_txt_vision .right_{order:0;}


	section#galeria{padding:30px 15px}
	section#galeria .gallery li{width:100%;}
	.gallery li figure figcaption p {padding:15px;    font-size: 1em;}

	#contacto .form_ {padding:0;margin-bottom:30px;}
	#contacto .flex_cont_ .right_{padding:0;text-align:center;}

	section#vivienda .list_{padding-right: 0;padding-left: 0;}

	#contacto .map {text-align: center;}
}

@media (max-width:700px){
	#home .slider{position: relative;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;}

    #slider .btn_slider svg{width: 30px}
    #slider .btn_slider{ top: 30vw;}
}
@media (max-width:600px){
 	.gallery li{width:100%}

 	section#contacto .flex_cont_{flex-direction: column;}
 	section#contacto .map_{height:200px;}

	.slider.into_section {max-height: 180px;}

 	footer .flex_cont_.triple {flex-wrap: wrap;text-align:center;}
 	footer .flex_cont_.triple .flex_item {width:100%!important;}
 	footer .flex_cont_.triple .flex_item+.flex_item {margin-top:20px;}
 	footer .flex_item address{display:table;margin:0 auto;text-align:center;}
 	footer .flex_item address p{text-align:center;}

 	.slider .text_ h1{font-size:2.5em;}
 	.slider .text_ h2{font-size:1.8em;}

	.slider .text_{ max-width: 100%;}
	.slider .text_ img#logo_slider{max-width: 80px}
 	.gallery li figure figcaption p a{color: transparent;}
 	.btn_view_gallery{color: #FFF;}

 	#contacto .form_ button{width: 100%;}
}


@media (max-width:480px){
 	.slider .text_ h1{font-size:1.2em;}
 	.slider .text_ h2{font-size:1em;}
 	section#quienes_somos .flex_cont_ {flex-direction: column;}
 	.cont_slider_project .controls{right:50%;margin-right:-75px;}
}

