@media (max-width:1024px){
	section#vivienda .flex_cont_,
	section#proyectos .flex_cont_{flex-direction: column;}
	section#vivienda .flex_cont_ div[class*='img_house'],
	section#proyectos .flex_cont_ div[class*='img_house']{height:300px;}
	section#proyectos .flex_cont_ .left_,
	section#proyectos .flex_cont_ .right_{padding:0;}
	section#proyectos .flex_cont_ .right_{margin-top:100px;}
	section#vivienda .flex_cont_:first-child .right_ {order:1;}
	section#vivienda .flex_cont_:first-child .left_ {order:2;}
	section#vivienda .list_{padding:50px;}
	.flex_cont_.doble .right_,
	.flex_cont_.doble .left_{width:100%}

}
@media (max-width:1024px){
	.container{padding-left:30px;padding-right:30px}
	.gallery li{width:50%;}
	.flex_cont_.triple .flex_item:first-child img{padding:15px;}


}
@media (min-width:768px){
	header ul{
	    display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: flex-start;
	    align-content: stretch;
	    align-items: stretch;
	}
	header ul li{
	    order: 0;
	    flex: 1 1 auto;
	    align-self: center;
	}
	header ul li#logo{
	    text-align:left;width:30%
	}

	header li a:hover{/* opacity:0.6; */}
	.menu_stick{display: block;}
}
@media (max-width:767px){
	header{position:fixed!important;width:100%;height:100%;background:rgba(0, 0, 0, 0.8);;transform: translateY(-100%);transition: all 250ms ease-out}
	header.active{transform: translateY(0%);}
	header ul{background:transparent;}
	header ul li#logo a{display: block;text-align:center;margin-bottom:20px;}
	header li a{font-size:1.5em;line-height:1em;}
	header li#logo img{max-height:60px;}
	.btn_menu{display: block;}
}

@media (max-width:600px){
 	.gallery li{width:100%}

 	section#contacto .flex_cont_{flex-direction: column;}
 	section#contacto .map_{height:200px;}

 	footer .flex_cont_.triple {flex-wrap: wrap;text-align:center;}
 	footer .flex_cont_.triple .flex_item {width:100%!important;}
 	footer .flex_cont_.triple .flex_item+.flex_item {margin-top:20px;}
 	footer .flex_item address{display:table;margin:0 auto;text-align:center;}
 	footer .flex_item address p{text-align:center;}

 	.slider .text_ h1{font-size:2.5em;}
 	.slider .text_ h2{font-size:1.8em;}
}


@media (max-width:480px){
 	.slider .text_ h1{font-size:1.8em;}
 	.slider .text_ h2{font-size:1.4em;}
 	section#quienes_somos .flex_cont_ {flex-direction: column;}
 	.cont_slider_project .controls{right:50%;margin-right:-75px;}
}

