@media (min-width:768px){
	header ul{
	    display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: flex-start;
	    align-content: stretch;
	    align-items: center;
	}
	header ul li{
	    order: 0;
	    flex: 0 1 auto;
	    align-self: auto;
	}
	header ul li#logo{
	    flex: 1 1 auto;
	}
}